@font-face {
  font-family: 'PKMN RBYGSC';
  src: url('../../assets/fonts/PKMN\ RBYGSC.ttf') format('truetype');
}

body {
    margin: 0; /* Supprime les marges par défaut du corps */
    padding: 0; /* Supprime les paddings par défaut du corps */
    background-image: url('../../assets/images/bgPokemonclassic.jpeg'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: 100% 100%; /* Ajuste la taille de l'image pour couvrir complètement le corps */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'PKMN RBYGSC';
    color: #ffffff; /* Couleur du texte, ajustez selon votre choix */
}

.gameScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center; /* Centrer le contenu en abscisse*/
  flex-direction: column;
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.headerContainer img {
  width: 90%;
  max-width: 300px;
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 410px;
}

.rulesFrame {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0DADEF;
  width: 400px;
  height: 200px;
  border-radius: 36px;
  border: solid #FFCC01 4px;
  box-shadow: inset 0 0 0 4px #ecd9ef;
  margin-bottom: 1rem;
}

.rulesContainer {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  row-gap: 1rem;
}

.hintsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 0.8em;
}

.hint img {
  width: 60px;
}

.answer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.userInput {
  display: flex;
  justify-content: center;
  width: 100%;
}

.userInput input {
  border-image: url('../../assets/images/frame-input-hd.png') 42 round;
  border-width: 10px;
  height: 100%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}




